
.styled-input {
  // border: 1px solid #aaa;
  // background-color: #fff;
  padding: $sp-2;
  width: 100%;
}
.site-header {
  // display: flex;
  min-height: 6.75rem;
  border: none !important;
  // align-items: center;
}
.main-header {
  min-height: 4.75rem;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #2BB673;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border-radius: 6px;
  border: 0;
  @media only screen and (max-width: 600px) {
    font-size: 12px;
  }
}
.button:hover {
  background-color: #4cdc96;
}
.button:active {
  background-color: #174b32;
}
.main-content ul.tool-list {
  // background-color: $grey-lt-100;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  gap: 20px;
  flex-wrap: wrap;

  li {
    // min-width: 200px;
    // border: 2px solid $grey-dk-100;
    // flex-basis: 0;
    h3 {
      margin: 0;
    }
    .post-image {
      margin-right: 10px;
    }
    .post-link {
      color: $white;
      background-color: $grey-dk-250;
      border-radius: 10px;
      padding: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-grow: 1;  
    }
    .post-link:hover {
      background-color: $grey-dk-200;
    }
    img  {
      height: 40px;
    }
  }
  li:before {
    content: '';
    display: none;
  }
}

.main-content ul.article-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  li:before {
    content: '';
    display: none;
  }
  li {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 30px;

    .article-list-content {
      h3 {
        margin: 0;
        font-size: 1.5rem;
      }
    }

    a.post-image {
      // flex-grow: 0;
      width: 100px;
      margin-right: 20px;
      flex: 0 0 auto;
      img {
        width: 100%;
        border-radius: 7px;
      }
    }
  }
}

.app-banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  background-color: $grey-dk-250;
  border-radius: 10px;
  padding: 20px;
}
.app-banner-icon {
  flex-grow: 1;
  text-align: center;
}
.app-banner-icon img {
  max-width: 128px;
}
.app-banner-cta {
  flex-grow: 1;
  // text-align: center;
}

.beta-waitlist {
  border-radius: 10px;
  background-color: $red-200;
  color: $white;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px;
}
.beta-waitlist h3 {
  margin: 0;
  font-weight: bold;
  color: $white;
}

input[type='text'] {
  border: 15px;
  border-radius: 5px;
  border: 0;
}


h2.post-list-heading {
  margin-top: 40px;
  margin-bottom: 20px;
}

p.note, blockquote.note {
  background-color: $grey-dk-250;
}

/* tabs */
.tab {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    padding: 0;
    list-style: none !important;
    position: relative;
}

.tab > * {
    flex: none;
    // padding-left: 20px;
    position: relative;
}

.tab > * > a {
    display: block;
    text-align: center;
    padding: 9px 20px;
    color: #999;
    border-bottom: 2px solid transparent;
    border-bottom-color: transparent;
    font-size: 12px;
    text-transform: uppercase;
    transition: color .1s ease-in-out;
    line-height: 20px;
}

.tab > .active > a {
    color: $link-color;
    border-color: $link-color;
}

.tab > li:before,
.tab-content > li:before {
  content: "";
  display: none;
}

.tab-content > li {
  margin: 0;
}

.tab > li > a {
    text-decoration: none;
    cursor: pointer;
}

.tab-content {
    padding: 0;
}

.tab-content > li {
    display: none;
}
.tab-content > li.active {
    display: block;
}

/* The 2 following blocks can be removed if the script is not configured to show the toast message */
#jekyll-tabs-copy-to-clipboard-message {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    right: 50%;
    bottom: 30px;
}

#jekyll-tabs-copy-to-clipboard-message.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.btn {
  display: inline-flex;
  align-items: center;
}

.btn-icon {
  justify-content: flex-start;
}
.btn-icon > img {
  height: 0.85em;
}
// .btn > span {
//   line-height: 1;
// }

.label:not(g) {
  background-color: $grey-dk-200;
  text-transform: none;
}
small {
  color: $grey-lt-300;
}